/* Less file for flightStatus*/

.flight-status-details-section .row{
	margin: 10px !important;
	margin-top: 50px !important;
}

.flight-status-details-section{
}

.flight-status-details-header{
	font-size: 1.4vw;
	font-weight: bold;
	color: #9B9B9B;
	font-family: @roboto;
	margin-bottom: 0.5vw;
	display: inline-block;
}

.flight-status-details-label1{
	font-size: 3.5vw;
	color: black;
	font-family: @robotoCondensed;
	display: inline-block;
	margin-top: -1vw;
}

.flight-status-details-label2{
	&:extend(.flight-status-details-label1);
	font-size: 1.82vw;
	display: inline-block;
	margin-top: -1vw;
}

.flight-status-details-label3{
	color: #9B9B9B;
	font-weight: bold;
	font-size: 1.4vw;
}

.flight-status-danger-label{
	font-family: @roboto;
	font-size: 3.5vw;
	color: #FF001F;
	display: inline-block;
	margin-top: -1vw;
}

.flight-status-late-description{
	font-family: @roboto;
	font-size: 1.68vw;
	color: #9B9B9B;
}

.flight-status-on-time{
	display: inline-block;
	background-color: #7ED321;
	padding: 0.6vw;
	padding-left: 1.6vw;
	padding-right: 1.6vw;
	color: #FFFFFF;
	font-size: 1.68vw;
	margin-top: -0.4vw;
}