/* Less file for flightStatus*/

.flight-status-details-section .row{
	margin: 10px !important;
}

.flight-status-details-section{
}

.flight-status-details-header{
	font-size: 14pt;
	font-weight: bold;
	color: #9B9B9B;
	font-family: @roboto;
}

.flight-status-details-label1{
	font-size: 17pt;
	color: black;
	font-family: @robotoCondensed;
}

.flight-status-details-label2{
	&:extend(.flight-status-details-label1);
	font-size: 13pt;
}

.flight-status-late-label{
	font-family: @roboto;
	font-size: 28pt;
	color: #FF001F;
}

.flight-status-late-description{
	font-family: @roboto;
	font-size: 20pt;
	color: #9B9B9B;
}