@airport-model-vertical-padding: 40px;

.home-model-container{
	background-color: black;

	img{
		padding-top: @airport-model-vertical-padding;
		padding-bottom: @airport-model-vertical-padding;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 80%;
	}
}

.home-screen{
	.col-xs-4, .col-xs-8, .col-xs-7, .col-xs-5{
		padding-right: 0px;
		padding-left: 0px;
	}

	td, th{
		vertical-align: middle !important;
	}
}

table, th, td {
   border-top: 10px solid white !important;
   font-family: @robotoCondensed;
}

td{
	font-size: 13pt;
}

.departure-row-bg-color{
	td, th{
		background-color: #EEEEEE;
	}
}

.departure-label{
	font-size: 25pt;
}

.row.home-screen{
	margin-left: 0px;
	margin-right: 0px;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 775ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.animate-enter.animate-enter-active, 
.animate-leave {
    opacity: 1;
    right: 0;
    height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    right: -50px;
    height: 0px;
}