body {
  font-family: $font-family-base;
  font-size:  $font-size-base;
}

.arrow-right-small {
  display: inline-block;
  background: url(../images/arrow-right.png) 0 0 no-repeat;
  height: 12px;
  width: 12px;
  background-size: 12px;
}

.arrow-right {
  height: 10vw;
  width: 10vw;
}

.chevron-right-small {
  width: 2vw;
  height: 4vw;
}