$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-bold: 'Roboto Bold', Helvetica, Arial, sans-serif;
$font-family-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;

$color-primary: #5A00DA;
$color-secondary: #350080;

$font-color-primary: #000000;
$font-color-secondary: #9B9B9B;
$font-color-primary-over-bg: #FFFFFF;
$font-color-secondary-over-bg: #CCCCCC;

$flight-status-font-color: #FFFFFF;
$flight-status-ontime: #7ED321;
$flight-status-delayed: #FF001F;