$font-family-base: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-bold: 'Roboto Bold', Helvetica, Arial, sans-serif;
$font-family-condensed: 'Roboto Condensed', Helvetica, Arial, sans-serif;

$font-size-base: 3.5vw;

$color-primary: #5A00DA;
$color-secondary: #350080;
$white: #FFFFFF;
$black: #000000;
$gray: #9B9B9B;
$light-gray: #CCCCCC;
$color-success: #7ED321;
$color-fail: #FF001F;

$font-color-primary: $black;
$font-color-secondary: $gray;
$font-color-primary-over-bg: $white;
$font-color-secondary-over-bg: $light-gray;

$menu-box-bg-color: $white;
$page-background-color: $white;

$flight-details-bar-bg-color: $color-secondary;