html.admin-page {
  body {
    background: $page-background-color;
  }
  .admin-panel {
    text-align: center;
  }
  .primary-btn {
    cursor: pointer;
    margin: 3vw 20vw;
    padding: 40px 10px;
    @media (min-width: 992px) {
      font-size: 3vw;
      margin: 3vw 28vw;
      padding: 80px 10px;
    }
    @media (min-width: 1200px) {
      padding: 50px 10px;
    }
  }
}