html.coupon-list-page {
  body {
    background: $page-background-color;
  }
  .coupon-list-item {
    position: relative;
    color: $font-color-primary;
    padding: 3vw;
    border-bottom: 1px solid $border-color;
    .chevron-right-small {
      position: absolute;
      top: 8vw;     
      right: 3vw;
    }
  }
  .coupon-img {
    width: 14vw;
    height: 17vw;
  }
  .coupon-offer {
    font-size: 5vw;
    margin: 4vw 0 0 0;
  }
  .coupon-location {
    font-size: 3vw;
    color: $font-color-secondary;
    margin: 0;
  }
}