html.flight-details-page {
  body {
    background: $page-background-color;
  }
  .flight-details-bar {
    position: relative;
    background: $flight-details-bar-bg-color;
    color: $font-color-primary-over-bg;
    text-transform: uppercase;
    padding: 20px;
    .flight-airline {
      font-size: 7vw;
      margin: 0;
    }
    .flight-date {
      color: $font-color-secondary-over-bg;
      font-size: 3vw;
      margin: 0;
      text-transform: none;
    }
    .flight-status {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      &.success {
        background: $color-success;
      }
      &.failed {
        background: $color-fail;
      }
    }
  }
  .flight-details {
    padding: 20px;
    text-transform: uppercase;
    %flight-details-heading {
      font-size: $font-size-base;
      font-family: $font-family-bold;
      margin: 0;
    }
    .flight-details-divider {
      border-right: 1px solid $border-color;
      height: 10vw;
    }
    .arrow-right {
      margin: 0 0 0 1vw;
    }
    .airport-city,
    .airport-times-heading,
    .airport-boarding-heading,
    .airport-gate-heading {
      @extend %flight-details-heading;
    }
    .airport-code {
      font-size: 6vw;
      margin: 0 0 6vw 0;
    }
    .airport-times,
    .airport-boarding,
    .airport-gate {
      font-size: 3vw;
      margin: 0 0 8vw 0;
    }
    .airport-departure-gate {
      padding: 0 0 0 30px;
    }
  }
  .coupon-area {
    padding: 20px;
    .coupon {
      padding: 10px;
      border: 3px dashed $border-color;
      border-radius: 5px;
    }
    .coupon-heading {
      font-size: 6vw;
      text-align: center;
      margin: 0 0 3vw 0;
    }
    .coupon-img {
      width: 22vw;
      height: 27vw;
    }
    .coupon-offer {
      font-size: 3vw;
      margin: 10px 0;
    }
    .coupon-msg {
      font-size: 3vw;
      margin: 15px 0;
      color: $font-color-secondary;
    }
    .coupon-btn {
      background: $coupon-btn-color;
      color: $font-color-primary-over-bg;
      border-radius: 4px;
      text-transform: uppercase;
      padding: 10px;
      margin: 0 7vw 5vw 0;
      font-size: 4vw;
      text-align: center;
    }
    .glyphicon-plus-sign {
      vertical-align: -1px;
    }
  }
}